body{
    margin-top: 0%;
    text-align: center;
    background-color: rgb(5, 5, 5);
  }
h1{
    color: #2121c2;
}
h2{
    color: #f50901;
}
h3{color: rgb(31, 15, 255);}
h4{
    color: #30f309;
}
span{
    color: #0356f0;
}
p{color: aqua;}
img{
    width: 20%;
}
#ultimo-paragrafo {
    border-style: dotted;
}