body{
    margin-top: 5%;
    text-align: center;
    background-color: #6992df;
}
h1{
    color: #2121c2;
}
h2{
    color: rgb(38, 6, 179);
}
h4{
    color: #04054b;
}
span{
    color: #6992df;
}